
@layout MainLayout
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@namespace WebbutvecklingLABB2.Client
@using WebbutvecklingLABB2.Client.Components.Pages
@using WebbutvecklingLABB2.Client.Components.Layout


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
            <p>Sidan kunde inte hittas.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>