@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using WebbutvecklingLABB2.Client
@using WebbutvecklingLABB2.Shared.Models
@using WebbutvecklingLABB2.Client.Components

<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Sorry, the page could not be found!</p>
    </NotFound>
</Router>